In [ ]:
# Business understanding

In this notebook we label the data and get deeper knowledge about the data.
We split the task. Each team member labels 50 samples.

In [5]:
# make sure just your username is uncommented
# user = "felix"
# user = "omar"
user = "tobias"

In [4]:
# For labelling the Framework pigeonXT is used: https://github.com/dennisbakhuis/pigeonXT/
# Check the pigeonXT github README, if it does not work out of the box.
!pip install pigeonXT-jupyter

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pigeonXT-jupyter in /usr/lib/python3.9/site-packages (0.6.1)
Requirement already satisfied: ipywidgets in /usr/lib/python3.9/site-packages (from pigeonXT-jupyter) (7.6.3)

In [193]:
import json
import matplotlib.pyplot as plt
%matplotlib notebook
import numpy as np
import time
import pandas as pd
import pigeonXT as pixt

In [172]:
# select 150 random indices from our 10000 entries
np.random.seed(0)
import numpy as np
all_indices = np.random.choice(range(10001), 150, replace=False)
#print(all_indices.shape)

# assign 50 labels to each user
indices = { "felix":  all_indices[:50],
            "omar":   all_indices[50:100],
            "tobias": all_indices[100:],
          }
print("samples to label:", indices[user].shape[0])

samples to label: 50

In [173]:
# load data
FILES=["../thermal_raw_20210507_full/20210507_1605_3078.txt", "../thermal_raw_20210507_full/20210507_1605_C088.txt"]
data = list()

for FILE in FILES:
    with open(FILE, "r") as f:
        for line in f:
            record = json.loads(line)
            data.append(record)

In [190]:
# convert data to pandas and do give it appropriate datatypes
df = pd.DataFrame(data)

# fix datatypes, drop sensor_size
df['Timestamp'] = df['Timestamp'].astype('int32')
df['Sensor ID'] = df['Sensor ID'].str.replace(r'Sensor_32x32_', r'')
df['Room Temperature'] = df['Room Temperature'].astype('float32')
df = df.drop(['Sensor size'], axis=1)

# show datatypes
#print(df.dtypes)

# show amount of samples
#print("amount of samples:", df.shape[0])

# show first 3 rows
#df.head(n=3)

In [188]:
# select samples for the user
# if user CSV file exists, continue with this one
df_user = df.loc[indices[user]]
# show amount of samples
print("amount of samples:", df.shape[0])
df_user.head(n=3)

amount of samples: 10000

,Timestamp,Sensor ID,Room Temperature,RSSI,data
4323,1620393158,3078,23.0,-81,"[[9.6, 11.4, 11.8, 12.0, 11.4, 11.5, 12.1, 12...."
3232,1620393050,3078,22.5,-67,"[[10.7, 11.4, 10.8, 9.5, 12.4, 12.1, 12.2, 12...."
9985,1620393199,C088,23.1,-68,"[[11.8, 13.0, 12.1, 11.7, 12.8, 13.5, 12.6, 12..."

In [191]:
# function to show the image
def show_image(img):
    fig, ax = plt.subplots(figsize=(2, 2))
    ax.set_axis_off()
    plt.imshow(img, interpolation='nearest', aspect='auto')
    fig, ax = plt.subplots(figsize=(4, 4))
    ax.set_axis_off()
    plt.imshow(img, interpolation='nearest', aspect='auto')

In [192]:
# run annotation
annotations = pixt.annotate(
  df_user,
  example_column='data',
  buttons_in_a_row=5,
  options=['Human', 'Several humans', 'Non-human heat', 'Ambigous heat', 'No heat'],
  display_fn=lambda item: show_image(item)
)

HTML(value='0 of 50 Examples annotated, Current Position: 0 ')

VBox(children=(HBox(children=(Button(description='Human', style=ButtonStyle()), Button(description='Several huâ€¦

Output()

In [185]:
# verify the data
annotations

,Timestamp,Sensor ID,Room Temperature,RSSI,data,changed,label
4323,2021-05-07 13:12:38,3078,23.000000,-81,"[[9.6, 11.4, 11.8, 12.0, 11.4, 11.5, 12.1, 12....",False,
3232,2021-05-07 13:10:50,3078,22.500000,-67,"[[10.7, 11.4, 10.8, 9.5, 12.4, 12.1, 12.2, 12....",False,
9985,2021-05-07 13:13:19,C088,23.100000,-68,"[[11.8, 13.0, 12.1, 11.7, 12.8, 13.5, 12.6, 12...",False,
6285,2021-05-07 13:07:34,C088,21.700001,-58,"[[10.6, 12.2, 13.3, 13.0, 12.3, 12.9, 13.1, 12...",False,
7261,2021-05-07 13:09:05,C088,22.100000,-58,"[[11.3, 13.5, 12.8, 11.6, 11.9, 12.2, 13.5, 13...",False,
3932,2021-05-07 13:11:59,3078,22.799999,-76,"[[10.5, 10.6, 10.6, 10.5, 11.2, 11.8, 11.5, 11...",False,
9673,2021-05-07 13:12:50,C088,23.000000,-58,"[[10.5, 11.4, 12.0, 12.5, 11.5, 11.8, 12.4, 12...",False,
1312,2021-05-07 13:07:43,3078,21.700001,-82,"[[9.1, 11.1, 10.9, 10.6, 12.0, 11.3, 11.4, 11....",False,
1942,2021-05-07 13:08:46,3078,22.000000,-78,"[[11.7, 11.2, 11.3, 10.8, 10.4, 11.4, 11.2, 11...",False,
841,2021-05-07 13:06:55,3078,21.500000,-62,"[[11.6, 12.1, 11.3, 10.9, 11.7, 12.1, 11.6, 11...",False,
4404,2021-05-07 13:12:46,3078,23.000000,-77,"[[10.4, 11.4, 11.1, 11.2, 11.3, 11.7, 11.8, 12...",False,
5982,2021-05-07 13:07:06,C088,21.500000,-66,"[[11.4, 13.0, 13.2, 13.0, 12.6, 12.7, 12.2, 12...",False,
3860,2021-05-07 13:11:52,3078,22.799999,-80,"[[11.1, 11.4, 11.3, 11.4, 12.2, 11.5, 11.9, 11...",False,
3051,2021-05-07 13:10:33,3078,22.500000,-75,"[[10.6, 10.9, 11.0, 10.7, 12.8, 11.8, 11.7, 11...",False,
5897,2021-05-07 13:06:57,C088,21.500000,-58,"[[12.2, 11.8, 12.3, 12.2, 12.4, 13.1, 13.2, 12...",False,
7272,2021-05-07 13:09:06,C088,22.100000,-62,"[[11.4, 12.7, 12.6, 12.6, 11.7, 11.9, 12.3, 12...",False,
5429,2021-05-07 13:06:13,C088,21.200001,-68,"[[12.3, 11.5, 12.1, 12.6, 11.4, 13.4, 13.7, 13...",False,
8464,2021-05-07 13:10:57,C088,22.600000,-60,"[[11.4, 12.4, 12.6, 12.4, 13.3, 12.4, 12.5, 12...",False,
3594,2021-05-07 13:11:27,3078,22.700001,-79,"[[9.8, 11.4, 12.3, 12.2, 12.4, 11.3, 11.5, 11....",False,
7721,2021-05-07 13:09:48,C088,22.299999,-60,"[[11.7, 12.4, 12.1, 11.6, 12.0, 12.7, 12.4, 12...",False,
2535,2021-05-07 13:09:43,3078,22.299999,-69,"[[11.3, 11.7, 12.1, 11.9, 10.5, 12.1, 12.3, 12...",False,
8186,2021-05-07 13:10:31,C088,22.500000,-73,"[[10.7, 12.5, 12.7, 12.2, 11.9, 12.2, 12.0, 11...",False,
4749,2021-05-07 13:13:19,3078,23.100000,-72,"[[10.4, 11.7, 12.2, 11.8, 11.3, 11.3, 12.0, 12...",False,
9221,2021-05-07 13:12:08,C088,22.799999,-59,"[[11.3, 13.1, 12.5, 12.1, 14.2, 11.8, 11.9, 11...",False,
9586,2021-05-07 13:12:42,C088,23.000000,-58,"[[10.0, 11.8, 12.3, 11.6, 12.4, 12.5, 12.7, 12...",False,
1534,2021-05-07 13:08:04,3078,21.799999,-83,"[[10.5, 10.6, 11.4, 12.3, 12.4, 11.8, 11.9, 12...",False,
4121,2021-05-07 13:12:17,3078,22.900000,-73,"[[10.7, 11.5, 11.8, 11.6, 11.5, 11.8, 11.7, 11...",False,
6700,2021-05-07 13:08:12,C088,21.900000,-60,"[[12.8, 11.8, 12.4, 12.2, 11.9, 12.6, 12.9, 12...",False,
3749,2021-05-07 13:11:42,3078,22.700001,-79,"[[12.0, 11.1, 11.3, 10.9, 11.4, 11.4, 11.5, 11...",False,
2580,2021-05-07 13:09:47,3078,22.299999,-74,"[[11.6, 11.4, 10.7, 10.1, 11.2, 10.9, 11.3, 12...",False,
7918,2021-05-07 13:10:06,C088,22.400000,-63,"[[12.8, 12.8, 13.2, 13.3, 13.0, 13.3, 13.1, 12...",False,
4645,2021-05-07 13:13:09,3078,23.100000,-67,"[[10.6, 11.1, 11.3, 12.3, 12.7, 11.9, 11.8, 12...",False,
9475,2021-05-07 13:12:32,C088,22.900000,-58,"[[11.6, 12.9, 13.2, 12.7, 12.6, 12.4, 12.1, 11...",False,
8820,2021-05-07 13:11:31,C088,22.700001,-64,"[[12.1, 13.5, 13.7, 13.8, 13.6, 12.9, 13.1, 12...",False,
9823,2021-05-07 13:13:04,C088,23.100000,-69,"[[11.9, 11.3, 12.1, 12.3, 12.9, 13.2, 13.1, 12...",False,
4674,2021-05-07 13:13:12,3078,23.100000,-75,"[[10.6, 11.4, 11.2, 10.7, 10.1, 12.1, 11.8, 11...",False,
3848,2021-05-07 13:11:51,3078,22.799999,-83,"[[10.8, 11.8, 11.5, 11.3, 12.4, 12.5, 11.5, 11...",False,
1376,2021-05-07 13:07:49,3078,21.700001,-85,"[[11.0, 12.0, 12.0, 11.5, 12.3, 12.4, 12.8, 12...",False,
6349,2021-05-07 13:07:40,C088,21.700001,-58,"[[12.0, 12.8, 12.8, 12.4, 13.5, 12.0, 12.8, 12...",False,
4273,2021-05-07 13:12:33,3078,22.900000,-70,"[[11.8, 11.2, 10.7, 10.7, 13.1, 12.8, 12.4, 12...",False,
1308,2021-05-07 13:07:43,3078,21.700001,-83,"[[9.7, 10.6, 11.1, 10.9, 11.3, 11.2, 11.1, 11....",False,
6477,2021-05-07 13:07:51,C088,21.799999,-58,"[[10.3, 12.7, 12.4, 12.1, 11.1, 12.2, 12.4, 12...",False,
6674,2021-05-07 13:08:10,C088,21.900000,-59,"[[11.3, 12.0, 11.9, 12.0, 13.2, 14.0, 13.3, 12...",False,
2252,2021-05-07 13:09:16,3078,22.100000,-80,"[[10.3, 10.3, 10.9, 11.0, 11.7, 11.7, 11.7, 11...",False,
7700,2021-05-07 13:09:46,C088,22.299999,-60,"[[12.2, 11.6, 11.9, 12.1, 12.3, 12.8, 12.6, 12...",False,
8831,2021-05-07 13:11:32,C088,22.700001,-57,"[[12.9, 13.2, 12.8, 12.5, 12.8, 12.4, 12.4, 12...",False,
8435,2021-05-07 13:10:55,C088,22.600000,-63,"[[11.7, 11.3, 12.2, 12.5, 13.0, 12.4, 12.0, 11...",False,
8851,2021-05-07 13:11:34,C088,22.700001,-58,"[[11.6, 12.6, 11.8, 11.2, 13.1, 12.9, 13.3, 13...",False,
6780,2021-05-07 13:08:20,C088,21.900000,-59,"[[11.1, 13.3, 12.4, 11.2, 13.0, 12.3, 13.5, 13...",False,
6676,2021-05-07 13:08:10,C088,21.900000,-60,"[[12.3, 12.2, 11.9, 11.7, 13.5, 12.9, 12.6, 11...",False,

In [180]:
# write to CSV
annotations.to_json(user+int(time.time())"_labels.json")